<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Open TL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="{% static "./js/script.js" %}">dupa</script>
  <script src="{% static "./js/login.js" %}">dupa</script>
  <link rel="stylesheet" href="{% static "./css/style.css" %}">
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Me</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">

        {% if not request.user.is_authenticated %}
        <li>
          <a href="#" data-toggle="modal" data-target="#LoginModal">Login</a>
        </li>
        {% else %}
        <li><a id="DashBord_Link" href="#">Dash Bord</a></li>
        <li><a id="Options_Link"href="#">Options</a></li>
        <li><a href="#" data-toggle="modal" data-target="#LogoutModal">{{ user }}</a></li>
        {% endif %}
         
      </ul>
    </div>
  </div>
</nav>

<!-- First Container -->
<div id ="Cont1" class="container-fluid bg-1">

  <div class="row content">
      <div class="col-sm-3 sidenav">
        <!-- SPARE -->
      </div>
      <div class="col-sm-6 text-center">
          <div id="logo">
              <h1 class="margin">Measure</h1>
              <img src="{% static "./IOT.png" %}" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="500" height="300">
              <h2>Visualize and Analyze your Data </h2>
          </div>
          <div id="DashBord">
            <h3>Hi {{ user }} !</h3>
            <p>You will find all your sensors data bellow</p>
            <br>
            <span id="DashBordData"></span>
          </div>
          <div id="Options">
            <h3>Hi {{ user }} !</h3>
            <p>You can setup your sensors here:</p>
          </div>
      </div>
      <div class="col-sm-3 sidenav">
        <!-- SPARE -->
      </div>
    </div>

</div>


<!-- Second Container -->
<div class="container-fluid bg-2 text-left">

  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h1>Welcome</h1>
    </div>
    <div class="col-sm-6 text-left">
      <h1>Witamy w naszej apce</h1>
    </div>
    <div class="col-sm-3 sidenav">
      <h1>:):):)</h1>
    </div>
  </div>

</div>



<!-- Signup/Login Modal -->
<div id="LoginModal" class="modal fade loginM" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Header: Login / Register Tabs   -->
      <div class="modal-header">
       
        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu1">Register</a>
          </li>
        </ul>
      
      </div>
      <!-- End of Header: Login / Register Tabs   -->

      <!-- Body: Login Form / SignUp Form -->
      <div class="modal-body">
        <div class="tab-content">
          <div id="home" class="container tab-pane active">
            <!-- Login Form -->
            <form class='login-form'>
              <div class="form-group">
                <label class="log-labels" for="exampleInputUsername">Email</label>
                <input type="email" class="form-control log-mod" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Email">
                <small id="emailHelp" class="form-text text-muted">Enter your registred E-mail ID</small>
              </div>

              <div class="form-group">
                <label class="log-labels" for="exampleInputPassword">Password</label>
                <input type="password" name="password" class="form-control log-mod" id="exampleInputPassword" placeholder="Password" />
                <p id="errorlogin" style="color:red"></p>
              </div>
              <button type="button" id="login_button" class="btn btn-default btn-lg btn-block login-btn mb-2 mt-2 log-mod">Login</button>
              <button type="button" class="btn btn-default btn-lg btn-block login-btn mb-2 mt-2 log-mod" data-dismiss="modal">Close</button>

            </form>

            <!-- End of Login Form -->
          </div>

          <div id="menu1" class="container tab-pane">
            <div id="menu1" class="container tab-pane">

              <!-- SignUp Form -->
              <form class='login-form'>
                <div class="form-group">
                  <p id="errorname" style="color:red"></p>
                  <label class="log-labels" for="exampleInputFname">First Name</label>
                  <input type="text" class="form-control log-mod" id="exampleInputFname" aria-describedby="emailHelp" placeholder="First Name">
                </div>

                <div class="form-group">
                  <label class="log-labels" for="exampleInputLname">Last Name</label>
                  <input type="text" class="form-control log-mod" id="exampleInputLname" aria-describedby="emailHelp" placeholder="Last Name">
                </div>

                <div class="form-group">
                  <p id="erroremail" style="color:red"></p>
                  <label class="log-labels" for="exampleInputEmail">Email address</label>
                  <input type="email" class="form-control log-mod" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                  
                <div class="form-group">
                  <p id="errorpass" style="color:red"></p>
                  <label class="log-labels" for="exampleInputPassword1">Create Password</label>
                  <input type="password" class="form-control log-mod" id="exampleInputPassword1" placeholder="Password" />
                </div>

                <div class="form-group">
                  <label class="log-labels" for="exampleInputPassword2">Confirm Password</label>
                  <input type="password" class="form-control log-mod" id="exampleInputPassword2" placeholder="Password" />
                </div>
                
                <button type="button" id="signup_button" class="btn btn-default btn-lg btn-block login-btn mb-2 mt-2 log-mod">Sign up</button>
                <button type="button" class="btn btn-default btn-lg btn-block login-btn mb-2 mt-2 log-mod" data-dismiss="modal">Close</button>

                  {% csrf_token %}
                </form>
                <!--End of SignUp Form -->
            </div>          
          </div>         
        </div>
      </div>
      <!-- End of Body: Login Form / SignUp Form -->
    </div>
  </div>
</div>
<!-- End of Signup/Login Modal -->


<!-- Logout Modal -->
<div class="modal fade" id="LogoutModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <p class="log-labels">Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button id="logout_button" type="button" class="btn btn-default" data-dismiss="modal">Logout</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
    
  </div>
</div>
<!-- End of Logout Modal -->

</body>
</html>
